body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: #2980b9;
    padding: 10px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

section {
    padding: 20px;
}

h2 {
    color: #2980b9;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}
